body {
    background-color: hsl(230, 33%, 85%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: white;
    width: 300px;
    margin: auto;
    height: 470px;
    border-radius: 10px;
    margin-top: 100px;
}


img {
    margin-top: 20px;
    width: 250px;
    border-radius: 10px;
}

h1 {
    padding: 0 30px 0 30px;
}

p {
    color: rgb(127, 125, 125);
    font-size: medium;
    text-align:center;
    padding: 0 30px 0 30px;
}




/* .attribution a { color: hsl(228, 45%, 44%); } */

